h1 {
    text-align: center;
    color: rgb(159, 188, 116);
    font-size: 2em;
    margin-top: 1em;
}

#grid {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    margin: auto;
    border-width: 4px;
    border-color: rgb(170, 193, 121);
    border-style: solid;
    width: 92px;
    height: 96px;
}

.square {
    border: 1px;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: black;
    margin: 0px;
}

